{{#each ideas}} 
<div class="card card-body mb-2">
 
    <h4>{{this.title}}</h4>
    <p>{{ this.details}}</p>
    
    <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{this._id}}">edit</a>

    <form method="post" action="/ideas/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="Delete">    
    </form>
</div> 
{{else}}
<p>No vedio idea listed</p>
{{/each}}
